.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15vw;
  margin-right: 1vw;
}

.right {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}
